body header {
  background: #2C3E50;
  height: 100px;
}

body header .container {
  width: 855px;
  margin: auto;
}

body header h1 {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  font-weight: bold;
  float: left;
  padding: 40px 0 0 0;
}

body header a h1:hover {
  color: #268AC0;
}

body header nav {
  float: right;
}

body header img {
  width: 80px;
  height: 80px;
  padding: 10px 10px 10px 10px;
}

body header nav {
  padding: 40px 0 0 0;
}

body header nav a {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: white;
  padding: 0 3px 0 3px;
  text-decoration: none;
}

body header nav a:hover {
  color: #268AC0;
}

main .container {
  width: 1000px;
  margin: auto;
}

main .container h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3em;
  padding: 20px 0 20px 0;
  color: #2C3E50;
  margin: auto;
  text-align: center;
}

main .container form {
  width: 428px;
  margin: auto;
}

main .container form .form-input {
  border-top: 1px solid #EEEEEE;
}

main .container form input {
  font-size: 20px;
  width: 428px;
  height: 35px;
  border-style: hidden;
  margin: 5px 0 5px 0;
  outline-width: 0px;
}

main .container form textarea {
  width: 428px;
  height: 150px;
  border-style: none;
  resize: none;
  font-size: 20px;
  outline-width: 0px;
}

main .container form textarea {
  border-bottom: 1px solid #EEEEEE;
}

main .container form input,
main .container form textarea {
  color: #2C3E50;
}

main .container form input:placeholder-shown,
main .container form textarea:placeholder-shown {
  font-family: "Lato", serif;
  font-size: 20px;
}

main .container button {
  font-family: "Lato", serif;
  font-size: 1.5em;
  color: white;
  background: #18BC9C;
  border-style: none;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  float: right;
  margin: 20px 0 20px 0;
  cursor: pointer;
}

main .container button:hover {
  background: #128f76;
}

footer {
  clear: both;
  height: 200px;
  background: #2C3E50;
}

footer .address {
  width: 300px;
  margin: auto;
}

footer .address a {
  text-decoration: none;
}

footer .address h3 {
  font-family: "Lato", serif;
  font-size: 2em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
}

footer .address a h4 {
  font-family: "Lato", serif;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 10px 0 10px 0;
}

footer .address a p {
  font-family: "Lato", serif;
  font-size: 100%;
  font-weight: bold;
  margin: auto;
  width: 300px;
  color: white;
  text-align: left;
  padding: 0 0 10px 50px;
}

footer .copyright {
  background: #233140;
  height: 50px;
}

footer .copyright p {
  color: white;
  width: 428px;
  margin: auto;
  font-family: "Lato", serif;
  font-size: 100%;
  text-align: center;
  padding: 15px 0 0 0;
}
